include README
include README.md
include setup.py
include build.py
include LICENSE.txt
include MysticMine
include Makefile

include data/800x600/edmunds.ttf
data/800x600/font_default.fnt
data/800x600/font_default.png
data/800x600/resources.cfg

recursive-include monorail *.py *.pyx *.lvl *.ttf

recursive-include data/800x600/gfx *
recursive-include data/800x600/levels *
recursive-include data/800x600/locale *
recursive-include data/800x600/music *
recursive-include data/800x600/snd *

recursive-include assets *
recursive-include locales *
